TELEGRAM_BOT_TOKEN=replace-with-token-from-BotFather
TELEGRAM_CHAT_ID=replace-with-chat-id
TELEGRAM_HTTP_PROXY=http://login:password@proxy.example:12441
MONITOR_URLS=https://kiruhak11.ru,https://pocker.kiruhak11.ru,https://malina14.ru,https://okna-brn.ru
